* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
}

main {
  width: 1120px;
  margin: 88px auto 65px;
}

p span {
  color: #E1624F;
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
    font-size: 36px;
    margin-bottom: 44px;
}

h1,h2,h3 {
  color: #1B1B1B;
  font-weight: 700;
}

img {
  border-radius: 28px;
}

img + p {
  font-style: italic;
  text-align: center;
  margin-top: 24px;
}

.separetor {
  width: 1120px;
  height: 1px;
  margin-top: 40px;
  background: #D9D9D9;
}

#destinations {
  margin-top: 64px;
}

h2 {
  font-size: 32px;
  margin: 2px auto 8px;
}

h2 + p {
  margin-bottom: 64px;
}

h3 {
  margin-top: 20px;
  padding-left: 4px;
}

h3 + p {
  margin-top: 4px;
}

ul {
  padding-left: 20px;
  margin-bottom: 48px;
}

ul li {
  color: #0C51A7;
  font-weight: 700;
}

.purple {
  color: #591B98;
}

.pink {
  color: #E5245E;
}

.orange {
  color: #E95E10;
}

.description p {
  text-align: center;
  margin-top: 40px;
}